<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title src="Open Outings"></title>
    <link rel="stylesheet" href="css/index_logged.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
    <header>
            <div id="logoEnTete"><a href="index.html"><img src="images/isotype_logo_openOutings_1.6.1_60x60_petitLogoEnTete.png" title="Page d'Accueil" /></a></div>
            <div id="marecherche" title="Rechercher">
                <p><img src="images/iconeMainMenu_loupe_EnTete_orange32x32.png" />
                <input type="search" id="zonerecherche" title="Votre recherche ici...">
                </p>
                <a href="signIn.html"><button id="bdeconnexion">DECONNEXION</button></a>
                <a href="editprofilmembre.html"><button id="bprofil"></button></a>
            </div>
            <div id="BoutonMenuEnTete">
                <a href="menu.html"><img src="images/icone mainMenu_60x60orange_EnTete.png" title="Accéder au menu" /></a>
            </div>
        </header>
    <div id="grandlogo"> <img src="images/logo_openOutings_1.6.1.png" /> </div>
    <div id="titrelogo">Open Outings</div>
    <div id="contener">
        <div>
            <a href="create-event.html"><button  id="bPROPOSER" title="Proposer une sortie !"></button></a>
        <!--    <div id="formulaireconnexion">
                <input type="text" value="Login" />
                <br/>
                <input type="text" value="Password" />
                <br/>
                <input type="button" value="VALIDER" />
                <br/>
                <a href="#" class="bDevenirMembre">Pas encore OUTER! Veuillez créer un compte</a>
            </div> inutile en tant que connecté -->
        </div>
        <div>
            <a href="rechercheEvent.html"><button id="bTROUVER" title="Trouver une sortie !"></button></a>
        <!--    <div id="formulaireAfficheEvent">
                <span><img src="images/aaron-paul-213841.jpg"></span>
                <span><img src="images/adam-birkett-347694.jpg"></span>
                <span><img src="images/andre-hunter-254689.jpg"></span>
                <span><img src="images/annie-spratt-125331.jpg"></span>
                <span><img src="images/annie-spratt-125331.jpg"></span>
                <span><img src="images/annie-spratt-125331.jpg"></span>
                <span><img src="images/annie-spratt-125331.jpg"></span>
            </div> inutile en tant que connecté -->
        </div>
    </div>
    <footer id="citation">"Le bonheur est la seule chose qui se multiplie quand il se partage."
        <br/>Paulo Cuelho
    </footer>
</body>

</html>