/*fonts */
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/montserrat-light-webfont.eot?#iefix);
    src: url(../fonts/montserrat-light-webfont.eot?#iefix) format("eot"), url(../fonts/montserrat-light-webfont.woff2) format("woff2"), url(../fonts/montserrat-light-webfont.woff) format("woff"), url(../fonts/montserrat-light-webfont.ttf) format("truetype"), url(../fonts/montserrat-light-webfont.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}

/*Body */
body {
    /*Background properties*/
    background: url(../images/backgroundImage.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: snow;
    background-position: 0px 0px;
    height: 100%;
    width: 100%;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
}

a {
    width: inherit;
}
/*animation homePage background*/

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}


/*header properties*/
header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*small open outings logo properties*/
#logoEnTete {
    transition: transform .9s;
    position: relative;
}

#logoEnTete img {
    opacity: 0.5;
    -webkit-transition: -webkit-transform .9s; // Chrome Safari
    -moz-transition: -moz-transform .9s; // Mozilla
    -o-transition: -o-transform .9s; // Opéra
    -ms-transition: -ms-transform .9s; // IE
}
#logoEnTete img:hover {
    opacity: 1;
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    transform: rotate(540deg);
}

/*boutton menu on right*/
#BoutonMenuEnTete {
    position: relative;
    margin-right: 1%;
    opacity: 0.5;
}
#BoutonMenuEnTete:hover {
    opacity: 1;
}


/*search bar properties*/
#marecherche {
    display: flex;
    justify-content: space-around;
    height: 40px;
    width: 600px;
    opacity: 0.5;
    align-items: center;
}
#marecherche:hover {
    opacity: 1;
}

/*loupe properties*/
#marecherche img {

}
#marecherche p {
    display: flex;
}

/*textzone properties*/
#zonerecherche {
    width: 300px
}

/*boutton deconnection properties*/
#bdeconnexion {
    background-color: #e69c50;
    font-family: "Montserrat";
    font-weight: bold;
    border-radius: 10px;  
    color: rgba(116, 68, 230, 1);
}
    

/*boutton inscription properties*/
#bprofil {
    background-image: url(../images/006-social-2-red.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
    border-radius: 10px;    
}

/*bump effect on all buttons*/
#bPROPOSER:hover,
#bPROPOSER:focus,
#bTROUVER:hover,
#bTROUVER:focus,
#bdeconnexion:hover,
#bdeconnexion:focus,
#bprofil:hover,
#bprofil:focus,
#BoutonMenuEnTete:hover,
#BoutonMenuEnTete:focus,
#marecherche img:hover,
#marecherche img:focus,
#zonerecherche:hover+ img,
#zonerecherche:focus+ img {
    transform: scale(1.10);
 
}

/*Bloc Central*/
#bodyContainer {
    min-width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     margin-right: 1%;
    padding-left: 1%;
    border-radius: 10px;
    background-color: rgba(175, 47, 117, 0.5);
}

#bodyLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    margin-top: 1%;
    width: 200px;
}
#bodyLeft img{
    max-width: 100%;
    height: auto;
    margin-left: 1%;
    padding: 5px;
}
#bodyLeft img:hover{
   transition: all .3s ease-in-out;
   transform: scale(.9) rotate(-5deg);
   border: 5px solid red;
   cursor: pointer;
}
#bodyLeft2 {
    display: flex;
    flex-direction:column-reverse;
    justify-content: space-around;
    align-content: flex-start;
    margin-top: 5%;
    width: 200px;
}
#bodyLeft2 img{
    max-width: 100%;
    height: auto;
    margin-left: 1%;
    padding: 5px;
}
#bodyLeft2 img:hover{
   transition: all .3s ease-in-out;
   transform: scale(.9) rotate(-5deg);
   border: 5px solid #FE6539;
   cursor: pointer;
}
#bodyCenter {
    flex: 1;
}

#bodyRight {
    width: 200px;
    margin-top: 2%;
    align-content: flex-end;
}
#bodyRight img{
    max-width: 100%;
    height: auto;
    margin-left: 1%;
    padding: 2px;
}
#bodyRight img:hover{
    transition: all .3s ease-in-out;
    transform: scale(.9) rotate(5deg);
    border: 5px solid DimGrey;
    cursor: pointer;
}

#bodyRight2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    margin-top: 1%;
    width: 200px;
    align-content: flex-end;
}
#bodyRight2 img{
    max-width: 100%;
    height: auto;
    margin-left: 1%;
    padding: 2px;
}
#bodyRight2 img:hover{
    transition: all .3s ease-in-out;
    transform: scale(.9) rotate(5deg);
    border: 5px solid DimGrey;
    cursor: pointer;
}



.parent{
    
    justify-content: space-between;
    display: flex;
     flex-wrap: wrap;
     align-content: center;
    width: 70%;
    margin: auto; margin-top: 5%;
    }
.content{border:8px double  white; padding:5px; width:70%; margin:auto; height: 300px;
	display: flex; overflow: auto;
    justify-content: center; margin-top: 5%;
 background-color: rgba(251, 235, 100, 0.5); -moz-border-radius:20px;
  -khtml-border-radius:20px; -webkit-border-radius:20px; border-radius:20px;"
}
#vBoutton{
	background-color:  #7444E6; font-family: "Montserrat";
	color: white; border-radius: 5px; font-weight: bold;
}
#vBoutton:hover{
	background-color: white; font-family: "Montserrat";
	color:  #7444E6; box-shadow: 2px;font-weight: bold;
}

#iChoixLieux{
	font-family: "Montserrat"; color:  #7444E6; font-weight: bold;
	 border-radius: 5px;
}
#iChoixThemes{
	font-family: "Montserrat"; color:  #7444E6;
	 border-radius: 5px;font-weight: bold;
}
.choix{
	font-family: "Montserrat"; color:  #7444E6;border-radius: 5px;
}

}
